apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-vip
    image: ghcr.io/kube-vip/kube-vip:{{ versions.kube_vip }}
    imagePullPolicy: Always
    args:
    - manager
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
    env:
    - name: vip_arp
      value: "true"
    - name: port
      value: "6443"
    - name: vip_interface
      value: "{{ net_admin_dev }}"
    - name: vip_cidr
      value: "32"
    - name: vip_ddns
      value: "false"
    - name: address
      value: "{{ cluster_vip }}"
    # FEATURES
    - name: cp_enable
      value: "true"
    - name: svc_enable
      value: "false"
    # BOOTSTRAP SETTINGS
    - name: vip_leaderelection
      value: "false"
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
  hostAliases:
  - hostnames:
    - kubernetes
    ip: 127.0.0.1
  volumes:
  - hostPath:
      path: /etc/kubernetes/super-admin.conf
    name: kubeconfig
