apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ private_ip }}"
  bindPort: 6443
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
  - name: "node-ip"
    value: "{{ private_ip }}"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ versions.kubernetes_full }}"
controlPlaneEndpoint: "{{ cluster_private_vip }}:6443"
networking:
  podSubnet: "{{ pod_network }}"
apiServer:
  certSANs:
  - "{{ cluster_vip }}"
  - "{{ cluster_private_vip }}"
  - "127.0.0.1"
  - "localhost"
  - "{{ admin_ip }}"
  - "{{ private_ip }}"
  extraArgs:
{% if etcd_encryption_enabled | bool %}
  - name: "encryption-provider-config"
    value: "/etc/kubernetes/encryption-config.yaml"
{% endif %}
  extraVolumes:
{% if etcd_encryption_enabled | bool %}
  - name: encryption-config
    hostPath: /etc/kubernetes/encryption-config.yaml
    mountPath: /etc/kubernetes/encryption-config.yaml
    readOnly: true
{% endif %}
# --- FORCE ETCD PEERING TO PRIVATE NETWORK ---
etcd:
  local:
    advertiseAddress: "{{ private_ip }}"
    dataDir: /var/lib/etcd
    extraArgs:
    - name: "listen-metrics-urls"
      value: "http://0.0.0.0:2381"
# ---------------------------------------------
controllerManager: {}
scheduler: {}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
# ------------------------------------------------------------------
{% if system_config.enable_swap | bool %}
failSwapOn: false
memorySwap:
  swapBehavior: LimitedSwap
{% else %}
failSwapOn: true
{% endif %}
imageGCHighThresholdPercent: 75
imageGCLowThresholdPercent: 60
containerLogMaxSize: "10Mi"
containerLogMaxFiles: 5
