apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: public-pool
  namespace: metallb-system
spec:
  addresses:
  - {{ networks.public.prefix }}.{{ metallb.range_start }}-{{ networks.public.prefix }}.{{ metallb.range_end }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: public-binding
  namespace: metallb-system
spec:
  ipAddressPools:
  - public-pool

  {% set iface_list = [] %}
  {% for host in groups['k8s_cluster'] %}
    {% if hostvars[host].mode == 'trunk' %}
      {% set _ = iface_list.append("vlan." ~ vlan_ids.public) %}
    {% else %}
      {% set _ = iface_list.append("enX1") %}
    {% endif %}
  {% endfor %}

  interfaces:
  {% for iface in iface_list | unique %}
  - "{{ iface }}"
  {% endfor %}
