apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: public-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.130.51-192.168.130.60
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: public-binding
  namespace: metallb-system
spec:
  ipAddressPools:
  - public-pool
  interfaces:
  # UPDATED: Loops through all masters to find unique public interfaces
  # This ensures both 'enX1' (VMs) and 'vlan.20' (Bare Metal) are included.
  {% set unique_interfaces = [] %}
  {% for host in groups['masters'] %}
  {% set iface = hostvars[host]['iface_public'] %}
  {% if iface not in unique_interfaces %}
  - {{ iface }}
  {% set _ = unique_interfaces.append(iface) %}
  {% endif %}
  {% endfor %}
